header {
  height: 10%;
  .nav-link {
    .nav_icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      width: 50%;
      padding: 5% 5% 5% 5%;
    }
  }
}
